.center-text { 
    margin: auto;
    width: 15%;
    padding: 5px;
}

.lop-main-container{ 
    width: 800px;
    height: auto;
    display: inline-block;
    border: 1px solid silver;
}    
    
.lop-view-more{ 
    width:786px; 
    padding:7px; 
    color:white; 
    background-color: #666;
    height:20px;
    cursor: pointer; 
    cursor: hand; 
}

.float-right {
    float:right;
    margin: 0px 10px 0px 0px
}

.float-left {
    float:left;
    margin: 10px 0px 0px 0px
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #32CD32;
}

input:focus + .slider {
  box-shadow: 0 0 1px #32CD32;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
    display: inline-block;
    width: 85px;
    margin-left: 10px;
}

h5 {
    margin-left: 5px;
}

fieldset {
    box-sizing: border-box;
    margin-top: 10px;
}

.table .row {
    width:100%; 
    display:inline-block; 
    border:1px solid silver;
}

.column {
    float:left;
    text-align: center;  
}

button {
    cursor: pointer; 
}

.vertical-line {
  border-left: thick solid #000000;
}

.box {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.pointer {
    cursor: pointer;
}

.blue-background {
  background: #13b4ff;
}

.green-background {
  background: #32CD32;
}

.red-background {
  background: #FF3333;
}

.red-color {
  color: #FF3333;
}