<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ProductsAndCategories.Client.App.WCF.Categories.Service1.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ProductsAndCategories.Client.App.WCF.Categories.CategoriesServiceAspNetAjaxBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
        <behavior name="ProductsAndCategories.Client.App.WCF.Products.ProductsServiceAspNetAjaxBehavior">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ProductsAndCategories.Client.App.WCF.Categories.CategoriesService">
        <endpoint address="" behaviorConfiguration="ProductsAndCategories.Client.App.WCF.Categories.CategoriesServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ProductsAndCategories.Client.App.WCF.Categories.CategoriesService" />
      </service>
      <service name="ProductsAndCategories.Client.App.WCF.Products.ProductsService">
        <endpoint address="" behaviorConfiguration="ProductsAndCategories.Client.App.WCF.Products.ProductsServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ProductsAndCategories.Client.App.WCF.Products.ProductsService" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="TestConnectionString" connectionString="Data Source=IVAYLOG-PC;Initial Catalog=Test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>